<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{layout :: layout(~{::title}, ~{::body/content()})}">
<head>
    <title>Home Page</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<div id="hiddenData" hidden>
    <div id="dishHtml">
        <div class="dish">
            <div class="dishName">
            </div>
            <div class="materials">
                <div class="materialContainer">
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<main>
    <div id="searchBar">
        <label for="tags">原料: </label>
        <input id="tags">
    </div>
    <div class="allDishCon">
        <div class="dishCon">
            <div class="dishBar">
                <span>初始菜名</span>
                <button class="detailBtn">展开</button>
            </div>
            <div class="dishDetail">
            </div>
        </div>
        <div class="dishCon">
            <div class="dishBar">
                <span>初始菜名</span>
                <button class="detailBtn">展开</button>
            </div>
            <div class="dishDetail">
            </div>
        </div>
    </div>


</main>
</body>
</html>