<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{layout :: layout(~{::title}, ~{::body/content()})}">
<head>
    <title>Home Page</title>
</head>
<body>
<div id="hiddenData" hidden>
    <div id="tableOperations">
        <button class="edit">修改</button> <button class="delete">删除</button>
    </div>
    <div id="tableDateFilter">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="monthStart">开始月份:</label><input type="text" id="monthStart" placeholder="yyyy-mm-dd" />
        <label for="monthEnd">结束月份:</label><input type="text" id="monthEnd" placeholder="yyyy-mm-dd" />
    </div>
</div>
<main>
    <table id="mainTable" class="display" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>月份</th>
            <th>日元</th>
            <th>人民币</th>
            <th>汇率</th>
            <th>总和</th>
            <th>和上月差值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- Data will be loaded via AJAX -->
        </tbody>
    </table>

    <div id="dialog" class="dialog" title="新增记录">
        <label for="month">月份:</label>
        <input type="text" class="month" id="month" name="name" required>
        <br><br>
        <div class="datepicker-div" style="height: 250px;"></div>
        <label for="jpy">日元:</label>
        <input type="number" step="any" id="jpyl" name="email" required style="width: 55px;" placeholder="日元1">
        <input type="number" step="any" id="jpyk" name="email" required style="width: 55px;" placeholder="日元2">
        <input type="number" step="any" id="jpyc" name="email" required style="width: 55px;" placeholder="离日">
        <br><br>
        <label for="cny">人民币:</label>
        <input type="number" step="any" id="cny" name="email" required>
        <br><br>
        <span>汇率:<span id="rate"></span>(1人民币=x日元汇率)</span>
    </div>

    <div id="dialogUpdate" class="dialog" title="修改记录">
        <span id="id" hidden></span>
        <label for="month">月份:</label>
        <input type="text" class="month" id="month" name="name" required>
        <br><br>
        <div class="datepicker-div" style="height: 250px;"></div>
        <label for="jpy">日元:</label>
        <input type="number" step="any" id="jpy" name="email" required>
        <br><br>
        <label for="cny">人民币:</label>
        <input type="number" step="any" id="cny" name="email" required>
        <br>
        <span>汇率:<span id="rate"></span>(1人民币=x日元汇率)</span>
    </div>

    <div id="dialogChart" class="dialog" title="图表">
        <fieldset>
            <legend>图表类型: </legend>
            <label for="radio-1">总数</label>
            <input type="radio" name="radio-1" id="radio-1">
            <label for="radio-2">增长值</label>
            <input type="radio" name="radio-1" id="radio-2">
        </fieldset>
        <br><br>
        <div id="chart" style="width: 900px; height: 400px;"></div>
    </div>
</main>
</body>
</html>